<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2008, 2012 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/emf/examples/library/extlibrary.ecore/1.0.0" 
       class = "org.eclipse.acceleo.parser.tests.extlibrary.ExtlibraryPackage"
       genModel = "model/extlibrary.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="extlibrary" 
       class="org.eclipse.acceleo.parser.tests.extlibrary.util.ExtlibraryResourceFactoryImpl" />
  </extension>

</plugin>
