<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="test.ide.ui.handlers.TestGeneratorHandler"
            commandId="test.ide.ui.commands.testGeneratorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="test.ide.ui.menus.generators"
               label="Generators">
            <command
                  commandId="test.ide.ui.commands.testGeneratorCommand"
                  id="test.ide.ui.menus.testGeneratorCommand"
                  label="test::test">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecore.EPackage">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <!--command
                  commandId="test.ide.ui.commands.testGeneratorCommand"
                  id="test.ide.ui.menus.testGeneratorCommand"
                  label="test::test">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="ecore">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command-->
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="test.ide.ui.commands.generatorsCategory"
            name="Generators">
      </category>
      <command
            categoryId="test.ide.ui.commands.generatorsCategory"
            id="test.ide.ui.commands.testGeneratorCommand"
            name="test::test">
      </command>
   </extension>

</plugin>
