<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2008, 2012 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/acceleo/mtl/3.0" 
       class = "org.eclipse.acceleo.model.mtl.MtlPackage"
       genModel = "model/mtl.genmodel" /> 
  </extension>


  <extension
        point="org.eclipse.emf.ecore.uri_mapping">
     <mapping
           source="http://www.eclipse.org/acceleo/mtl/3.0/mtlstdlib.ecore"
           target="platform:/plugin/org.eclipse.acceleo.model/model/mtlstdlib.ecore">
     </mapping>
  </extension>
  
  <extension
        point="org.eclipse.emf.ecore.uri_mapping">
     <mapping
           source="http://www.eclipse.org/acceleo/mtl/3.0/mtlnonstdlib.ecore"
           target="platform:/plugin/org.eclipse.acceleo.model/model/mtlnonstdlib.ecore">
     </mapping>
  </extension>
  <extension
        point="org.eclipse.emf.ecore.content_parser">
     <parser
           class="org.eclipse.acceleo.model.mtl.resource.EMtlResourceFactoryImpl"
           contentTypeIdentifier="org.eclipse.acceleo.model.content.emtl.xmi">
     </parser>
     <parser
           class="org.eclipse.acceleo.model.mtl.resource.EMtlBinaryResourceFactoryImpl"
           contentTypeIdentifier="org.eclipse.acceleo.model.content.emtl.binary">
     </parser>
  </extension>
  <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.xml"
           file-extensions="emtl"
           id="org.eclipse.acceleo.model.content.emtl.xmi"
           name="XMI EMTL File"
           priority="low">
        <describer
              class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
           <parameter
                 name="element"
                 value="{}">
           </parameter>
        </describer>
     </content-type>
     <content-type
           describer="org.eclipse.acceleo.model.mtl.resource.EMtlBinaryResourceContentDescriber"
           file-extensions="emtl"
           id="org.eclipse.acceleo.model.content.emtl.binary"
           name="Binary EMTL File"
           priority="normal">
     </content-type>
  </extension>
</plugin>
