<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/acceleo/traceability/1.0"
            class="org.eclipse.acceleo.traceability.TraceabilityPackage"
            genModel="model/AcceleoTraceability.genmodel"/>
   </extension>

</plugin>
