<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/01/20 14:30:08 lgoubet Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="traceability"
            class="org.eclipse.acceleo.traceability.TraceabilityPackage"
            genModel="model/AcceleoTraceability.genmodel"/>
   </extension>

</plugin>
