<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
Copyright (c) 2008, 2012 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.acceleo.examples.category"
            name="%AcceleoCategory"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.acceleo.examples.category"
            class="org.eclipse.acceleo.examples.internal.wizard.Ecore2PythonExampleWizard"
            hasPages="false"
            id="org.eclipse.acceleo.examples.ecore2python"
            name="%ecore2pythonName"
            icon="/icons/default.gif"
            project="true">
         <description>
            %ecore2pythonDescription
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.acceleo.examples.category"
            name="%AcceleoCategory"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.acceleo.examples.category"
            class="org.eclipse.acceleo.examples.internal.wizard.Uml2JavaExampleWizard"
            hasPages="false"
            id="org.eclipse.acceleo.examples.uml2java"
            name="%uml2javaName"
            icon="/icons/default.gif"
            project="true">
         <description>
            %uml2javaDescription
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.acceleo.examples.category"
            name="%AcceleoCategory"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.acceleo.examples.category"
            class="org.eclipse.acceleo.examples.internal.wizard.Ecore2UnitTestsExampleWizard"
            hasPages="false"
            id="org.eclipse.acceleo.examples.ecore2unittests"
            name="%ecore2unittestsName"
            icon="/icons/default.gif"
            project="true">
         <description>
            %ecore2unittestsDescription
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/acceleo-samples.xml">
      </configExtension>
   </extension>
</plugin>
