<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/acceleo/mt/2.6.0"
            class="org.eclipse.acceleo.compatibility.model.mt.MtPackage"
            genModel="model/mt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/acceleo/mt/2.6.0/core"
            class="org.eclipse.acceleo.compatibility.model.mt.core.CorePackage"
            genModel="model/mt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/acceleo/mt/2.6.0/expressions"
            class="org.eclipse.acceleo.compatibility.model.mt.expressions.ExpressionsPackage"
            genModel="model/mt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/acceleo/mt/2.6.0/statements"
            class="org.eclipse.acceleo.compatibility.model.mt.statements.StatementsPackage"
            genModel="model/mt.genmodel"/>
   </extension>

</plugin>
