<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Acceleo 2024-09 Target Platform" sequenceNumber="1724158513">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="33.3.0.jre"/>
      <unit id="org.junit" version="4.13.2.v20230809-1000"/>
      <unit id="org.kohsuke.args4j" version="2.37.0"/>
      <unit id="org.apache.commons.lang3" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2024-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/technology/swtbot/releases/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
      <unit id="lpg.runtime.java" version="0.0.0"/>
      <unit id="org.eclipse.ocl" version="0.0.0"/>
      <unit id="org.eclipse.ocl.ecore" version="0.0.0"/>
      <unit id="org.eclipse.ocl.common" version="0.0.0"/>
      <unit id="org.eclipse.ocl.pivot.uml" version="0.0.0"/>
      <unit id="org.eclipse.ocl.pivot.ui" version="0.0.0"/>
      <unit id="org.eclipse.ocl.examples.xtext.console" version="0.0.0"/>
      <unit id="org.eclipse.ocl.xtext.completeocl" version="0.0.0"/>
      <unit id="org.eclipse.ocl.xtext.completeocl.ui" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2024-09"/>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="antlr">
      <dependencies>
        <dependency>
          <groupId>org.antlr</groupId>
          <artifactId>antlr4-runtime</artifactId>
          <version>4.7.2</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
  </locations>
</target>
