<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2008, 2024 Obeo.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v2.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v20.html
 
 Contributors:
      Obeo - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mtl"
            id="org.eclipse.acceleo.aql.ide.ui"
            name="Acceleo"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.acceleo.aql.ide.ui">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.acceleo.aql.ide.ui"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   

   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.acceleo.aql.ide.ui.AcceleoConnectionProvider"
            id="org.eclipse.acceleo.aql.ide.ui.server"
            label="Acceleo Language Server"
            singleton="true">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.acceleo.aql.ide.ui"
            id="org.eclipse.acceleo.aql.ide.ui.server">
      </contentTypeMapping>
   </extension>
   
      <extension
         point="org.eclipse.compare.contentViewers">
      <contentTypeBinding
            contentTypeId="org.eclipse.acceleo.aql.ide.ui"
            contentViewerId="org.eclipse.ui.genericeditor.compareViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.ui.genericeditor.compareViewer"
            contentTypeId="org.eclipse.acceleo.aql.ide.ui">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="org.eclipse.acceleo.aql.ide.ui.AcceleoAutoEditStrategy"
            contentType="org.eclipse.acceleo.aql.ide.ui">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.acceleo.aql.ide.ui.category"
            name="Acceleo 4">
      </category>
      <wizard
            category="org.eclipse.acceleo.aql.ide.ui.category"
            class="org.eclipse.acceleo.aql.ide.ui.wizard.NewModuleWizard"
            icon="icons/AcceleoEditor.gif"
            id="org.eclipse.acceleo.aql.ide.ui.newModuleWizard"
            name="Acceleo Module File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.acceleo.aql.ide.ui.property.AcceleoPropertyTester"
            id="org.eclipse.acceleo.aql.ide.ui.property.propertyTester"
            namespace="org.eclipse.acceleo.aql.ide.ui.property"
            properties="isMain,isBlockSelection,isAcceleoTextSelection"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Acceleo 4 Model to Text Category"
            id="org.eclipse.acceleo.aql.ide.ui.commands.category"
            name="Acceleo 4">
      </category>
      <command
            categoryId="org.eclipse.acceleo.aql.ide.ui.commands.category"
            id="org.eclipse.acceleo.aql.ide.ui.commands.createJavaMainClassCommand"
            name="Java Main Class">
      </command>
      <command
            categoryId="org.eclipse.acceleo.aql.ide.ui.commands.category"
            id="org.eclipse.acceleo.aql.ide.ui.commands.createEclipseUIProjectCommand"
            name="Eclipse UI Project">
      </command>
      <command
            categoryId="org.eclipse.acceleo.aql.ide.ui.commands.category"
            id="org.eclipse.acceleo.aql.ide.ui.commands.extractTemplate"
            name="Extract Template">
      </command>
      <command
            categoryId="org.eclipse.acceleo.aql.ide.ui.commands.category"
            id="org.eclipse.acceleo.aql.ide.ui.commands.wrapInFor"
            name="Wrap in For">
      </command>
      <command
            categoryId="org.eclipse.acceleo.aql.ide.ui.commands.category"
            id="org.eclipse.acceleo.aql.ide.ui.commands.wrapInIf"
            name="Wrap in If">
      </command>
      <command
            categoryId="org.eclipse.acceleo.aql.ide.ui.commands.category"
            id="org.eclipse.acceleo.aql.ide.ui.commands.wrapInLet"
            name="Wrap in Let">
      </command>
      <command
            categoryId="org.eclipse.acceleo.aql.ide.ui.commands.category"
            id="org.eclipse.acceleo.aql.ide.ui.commands.wrapInProtected"
            name="Wrap in Protected">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.acceleo.aql.ide.ui.handlers.CreateJavaMainClassHandler"
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.createJavaMainClassCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.acceleo.aql.ide.ui.property.isMain">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.acceleo.aql.ide.ui.handlers.CreateEclipseUIProjectHandler"
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.createEclipseUIProjectCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.acceleo.aql.ide.ui.property.isMain">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.acceleo.aql.ide.ui.handlers.ExtractTemplateHandler"
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.extractTemplate">
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.acceleo.aql.ide.ui.property.isBlockSelection">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.acceleo.aql.ide.ui.handlers.WrapInForHandler"
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInFor">
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.acceleo.aql.ide.ui.property.isBlockSelection">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.acceleo.aql.ide.ui.handlers.WrapInIfHandler"
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInIf">
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.acceleo.aql.ide.ui.property.isBlockSelection">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.acceleo.aql.ide.ui.handlers.WrapInLetHandler"
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInLet">
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.acceleo.aql.ide.ui.property.isBlockSelection">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.acceleo.aql.ide.ui.handlers.WrapInProtectedHandler"
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInProtected">
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.acceleo.aql.ide.ui.property.isBlockSelection">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/AcceleoEditor.gif"
               id="org.eclipse.acceleo.aql.ide.ui.menus.initializeGeneratorLauncher"
               label="Initialize Generator Launcher">
            <command
                  commandId="org.eclipse.acceleo.aql.ide.ui.commands.createJavaMainClassCommand"
                  icon="icons/AcceleoEditor.gif"
                  id="org.eclipse.acceleo.aql.ide.ui.menus.createJavaMainClassCommand">
            </command>
            <command
                  commandId="org.eclipse.acceleo.aql.ide.ui.commands.createEclipseUIProjectCommand"
                  icon="icons/AcceleoEditor.gif"
                  id="org.eclipse.acceleo.aql.ide.ui.menus.createEclipseUIProjectCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.genericeditor.source.menu?after=additions">
         <command
               commandId="org.eclipse.acceleo.aql.ide.ui.commands.extractTemplate"
               icon="icons/AcceleoEditor.gif"
               id="org.eclipse.acceleo.aql.ide.ui.menus.extractTemplate"
               style="push"
               tooltip="Extract the selection to a template">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.acceleo.aql.ide.ui.property.isAcceleoTextSelection">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInFor"
               icon="icons/AcceleoEditor.gif"
               id="org.eclipse.acceleo.aql.ide.ui.menus.wrapInFor"
               style="push"
               tooltip="Wrap the selection in a for statement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.acceleo.aql.ide.ui.property.isAcceleoTextSelection">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInIf"
               icon="icons/AcceleoEditor.gif"
               id="org.eclipse.acceleo.aql.ide.ui.menus.wrapInIf"
               style="push"
               tooltip="Wrap the selection in a if statement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.acceleo.aql.ide.ui.property.isAcceleoTextSelection">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInLet"
               icon="icons/AcceleoEditor.gif"
               id="org.eclipse.acceleo.aql.ide.ui.menus.wrapInLet"
               style="push"
               tooltip="Wrap the selection in a let statement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.acceleo.aql.ide.ui.property.isAcceleoTextSelection">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInProtected"
               icon="icons/AcceleoEditor.gif"
               id="org.eclipse.acceleo.aql.ide.ui.menus.wrapInProtected"
               style="push"
               tooltip="Wrap the selection in a protected statement">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.acceleo.aql.ide.ui.property.isAcceleoTextSelection">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.extractTemplate"
            contextId="org.eclipse.ui.genericeditor.genericEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+T">
      </key>
      <key
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInFor"
            contextId="org.eclipse.ui.genericeditor.genericEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+F">
      </key>
      <key
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInIf"
            contextId="org.eclipse.ui.genericeditor.genericEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+I">
      </key>
      <key
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInLet"
            contextId="org.eclipse.ui.genericeditor.genericEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+L">
      </key>
      <key
            commandId="org.eclipse.acceleo.aql.ide.ui.commands.wrapInProtected"
            contextId="org.eclipse.ui.genericeditor.genericEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.acceleo.aql.ide.ui.declaration.AcceleoOpenDeclarationHyperlinkDetector"
            description="Acceleo Open Declaration Hyperlink Detector"
            id="org.eclipse.acceleo.aql.ide.ui.hyperlinkDetector"
            name="Acceleo Open Declaration"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
</plugin>
