<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2008, 2023 Obeo.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v2.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v20.html
 
 Contributors:
      Obeo - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mtl"
            id="org.eclipse.acceleo.aql.ide.ui"
            name="Acceleo"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.acceleo.aql.ide.ui">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.acceleo.aql.ide.ui"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   

   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.acceleo.aql.ide.ui.AcceleoConnectionProvider"
            id="org.eclipse.acceleo.aql.ide.ui.server"
            label="Acceleo Language Server"
            singleton="true">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.acceleo.aql.ide.ui"
            id="org.eclipse.acceleo.aql.ide.ui.server">
      </contentTypeMapping>
   </extension>
   
      <extension
         point="org.eclipse.compare.contentViewers">
      <contentTypeBinding
            contentTypeId="org.eclipse.acceleo.aql.ide.ui"
            contentViewerId="org.eclipse.ui.genericeditor.compareViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.ui.genericeditor.compareViewer"
            contentTypeId="org.eclipse.acceleo.aql.ide.ui">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="org.eclipse.acceleo.aql.ide.ui.AcceleoAutoEditStrategy"
            contentType="org.eclipse.acceleo.aql.ide.ui">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.acceleo.aql.ide.ui.category"
            name="Acceleo 4">
      </category>
      <wizard
            category="org.eclipse.acceleo.aql.ide.ui.category"
            class="org.eclipse.acceleo.aql.ide.ui.wizard.NewModuleWizard"
            icon="icons/AcceleoEditor.gif"
            id="org.eclipse.acceleo.aql.ide.ui.newModuleWizard"
            name="Acceleo Module File">
      </wizard>
   </extension>
</plugin>
