<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.acceleo.query.ide.resourceSetConfigurator">
      <resourceSetConfigurators
            class="org.eclipse.acceleo.query.cdo.services.configurator.CDOResourceSetConfigurator">
      </resourceSetConfigurators>
   </extension>

</plugin>
