<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.acceleo.aql.ls.profile.ide.ui.launch.AcceleoProfilerTabGroup"
            description="Profile Acceleo 4 generation"
            id="org.eclipse.acceleo.aql.ls.profile.ide.ui.launchConfigurationTabGroup"
            type="org.eclipse.acceleo.aql.ls.profile.ide.launchConfigurationType">
         <launchMode
               mode="profile">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="org.eclipse.debug.ui.profileActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
 <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.acceleo.aql.ls.profile.ide.launchConfigurationType"
            icon="icons/AcceleoLaunch.gif"
            id="org.eclipse.acceleo.aql.ls.profile.ide.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
</plugin>
