<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.acceleo.aql.migration.ide.ui.migrateToAcceleo4"
            name="Migrate to Acceleo 4">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.acceleo.aql.migration.ide.ui.command.MigrateToAcceleo4Handler"
            commandId="org.eclipse.acceleo.aql.migration.ide.ui.migrateToAcceleo4">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.acceleo.aql.migration.ide.ui.migrateToAcceleo4"
               icon="icons/AcceleoLaunch.gif"
               label="Migrate to Acceleo 4"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.acceleo.ide.ui.acceleoNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
