<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Acceleo Kepler Target Platform" sequenceNumber="1585554442">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
      <unit id="org.junit" version="4.13.0.v20200204-1500"/>
      <unit id="org.antlr.runtime" version="4.7.2.v20200218-0804"/>
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200224183213/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.3"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <unit id="lpg.runtime.java" version="0.0.0"/>
      <unit id="org.eclipse.ocl" version="0.0.0"/>
      <unit id="org.eclipse.ocl.ecore" version="0.0.0"/>
      <unit id="org.eclipse.ocl.common" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/kepler"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/sirius/updates/releases/0.9.0/kepler"/>
    </location>
  </locations>
</target>
