<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.acceleo.common.internal.classloadingcompanion">
      <companion
            class="org.eclipse.acceleo.common.ide.authoring.WorkspaceCompanionProvider">
      </companion>
   </extension>

</plugin>
