<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.acceleo.engine.creator">
      <engineCreator
            class="org.eclipse.acceleo.internal.traceability.TraceabilityEngineCreator"
            label="org.eclipse.acceleo.traceability.traceabilityEngineCreator">
      </engineCreator>
   </extension>

</plugin>
