<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nooperationreflection -->
      <package
            uri="http://www.eclipse.org/acceleo/nooperationreflection"
            class="nooperationreflection.NooperationreflectionPackage"
            genModel="model/nooperationreflection.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated inference -->
      <package
            uri="http://www.eclipse.org/acceleo/inference"
            class="inference.InferencePackage"
            genModel="model/inference.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated keyword -->
      <package
            uri="http://www.eclipse.org/acceleo/Real"
            class="Real.RealPackage"
            genModel="model/Real.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated container -->
      <package
            uri="http://www.eclipse.org/acceleo/container"
            class="container.ContainerPackage"
            genModel="model/container.genmodel"/>
   </extension>

</plugin>
