<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
Copyright (c) 2008, 2012 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->

<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.uml"
            id="org.eclipse.acceleo.module.example.uml2java.helios.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Model to Text Transformation" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.eclipse.acceleo.module.example.uml2java.helios.ui.popupMenus.AcceleoGenerateExampleUml2javaAction"
               enablesFor="+"
               id="org.eclipse.acceleo.module.example.uml2java.helios.ui.popupMenus.acceleoGenerateUmlToJavaAction"
               icon="icons/default.gif"
               label="Generate Uml To Java"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
