<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

-->

<plugin>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.eclipse.acceleo.ide.ui.popupMenus.contribution.IProject">
         <menu id="org.eclipse.acceleo.ide.ui.menu" label="Acceleo" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.eclipse.acceleo.internal.compatibility.ui.AcceleoMigrateProjectWizardAction"
               enablesFor="*"
               id="org.eclipse.acceleo.internal.compatibility.ui.AcceleoMigrateProjectWizardAction"
               icon = "icons/AcceleoMigrateProject.gif"
               label="Convert to Acceleo MTL Projects..."
               menubarPath="org.eclipse.acceleo.ide.ui.menu/acceleo"/>
         <filter
               name="nature"
               value="fr.obeo.acceleo.gen.ui.acceleoGenNature"/>
      </objectContribution>
   </extension>

</plugin>
